@tailwind base;
@tailwind components;
@tailwind utilities;





.left-inner-addon {
  position: relative;
  width: 20px;
}

.left-inner-addon input {
  padding-left: 24px;
  width: 10px; /* 200px - 30px */
}

.left-inner-addon img {
  position: absolute;
  left: 0px;
  /* padding: 10px 12px; */
  pointer-events: none;
  top: 1rem;
}


body {
  overflow: hidden;
 background-image: linear-gradient(to right, var(--tw-gradient-stops)); 
}

